#containerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body
{
  margin: 0;
    padding: 0;
}
.authDiv {
  margin: 10;
  padding: 10;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
font-size: 150px;
}
a{
  font-size: 50px;
}
button{
  font-size: 50px;
}

 a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

#wishlist{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  font-weight:500;
  letter-spacing: 1px;
background-color: rgba(118, 199, 231, 0.5);
background-position: fixed;
padding: auto;
border-bottom: solid #111;
border-bottom-width: 9px;
 
 
}
.plus-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;     
    background-color: #0476f8;
    color: rgb(255, 255, 255);
    font-size: 45px;       
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: 0.2s;
position: absolute;
    bottom: 24px; 
    right: 25px;
}

.plus-btn:hover {
    background-color: #004ff8;
    transform: scale(1.1); 
}

