
.product-form-container {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  direction: rtl;
  text-align: left;
  font-family: Arial, sans-serif;
 
}

.product-form-container h2 {
  margin-bottom: 20px;

}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field input,
.form-field textarea {
  width: 100%;
  margin: 0%;
  padding: 4px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background: 
  #1cb7d3;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #276ae6; 
  transform: (1sec);

}

